name: ASP.NET Bamboo Octopus Built-in Feed Azure Website Video
on:
#  push:
  repository_dispatch:
  schedule:
    - cron:  '0 0 10 * *'
jobs:
  build:
    if: (github.event_name != 'repository_dispatch') || (github.event.client_payload.workflow == github.workflow) || (github.event.client_payload.workflow == 'all') || (github.event.client_payload.workflow == 'bamboo-aspnet-video')
    env:
      BUILD_NAME: "aspnet-app-git-bamboo-builtin-azurewebapp"
      SMTP_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      SLACK_HOOK_URL: ${{ secrets.SLACK_HOOK_URL }}
      WISTIA_USERNAME: ${{ secrets.WISTIA_USERNAME }}
      WISTIA_PASSWORD: ${{ secrets.WISTIA_PASSWORD }}
      EXTERNAL_APPLICATION_PASSWORD: ${{ secrets.ExternalApplicationPassword }}
      EXTERNAL_APPLICATION_TENANT_ID: ${{ secrets.ExternalApplicationTenantID }}
      EXTERNAL_AZURE_TENANT_ID: ${{ secrets.ExternalAzureTenantID }}
      EXTERNAL_AZURE_SUBSCRIPTION_ID: ${{ secrets.ExternalAzureSubscriptionID }}
      DEV_RES_GROUP: bambooaspnetbuiltinfeedviddev
      TEST_RES_GROUP: bambooaspnetbuiltinfeedvidtest
      PROD_RES_GROUP: bambooaspnetbuiltinfeedvidprod
      MEDIA_PATH: C:\screenshots
      CUCUMBER_TAGS: "(not @browserspecific or @firefox) and (not @destinationspecific or @azure-web-app) and (not @repositoryspecific or @octo-built-in-feed) and (not @applicationspecific or @aspnet)"
      WISTIA_MEDIA_ID: hoge0jp851
      DISABLE_HIGHLIGHTS: true
      DISABLE_SCREENSHOTS: true
      MOVE_TO_MOUSE_CUSROR: true
      MOUSE_VERTICAL_OFFSET: 74
      SCREENSHOT_BUCKET: octopus-guides-screenshots
      STHREE_SCREENSHOT_ENABLED: true
      GIT_URL: https://github.com/OctopusSamples/RandomQuotes-aspmvc4.git
      NUGET_PATH: 'RandomQuotes\\obj\\octopacked\\'
      VIDEO_FILE_NAME: aspnet-bamboo-octopus-builtin-feed-azure.mp4
      SCREENSHOT_PATH:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v1

    - name: Set screen resolution
      shell: powershell
      run: ./scripts/windows/set-resolution.ps1

    - name: Disable Windows Defender
      shell: powershell
      run: reg add 'HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection' /v DisableRealtimeMonitoring /t REG_DWORD /d 1

    - name: Free some space
      shell: powershell
      run: ./scripts/windows/free-space.ps1

    - uses: azure/actions/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Create Web App
      shell: powershell
      run: |
        ./create-azure-web-app "$env:DEV_RES_GROUP"
        ./create-azure-web-app "$env:TEST_RES_GROUP"
        ./create-azure-web-app "$env:PROD_RES_GROUP"

    - name: Execute puppet
      shell: powershell
      run: ./install.ps1 -Scripts sqlserverexpress.pp,utilities.pp,dotnetutilities.pp,bamboo.pp,octopus.pp,iis.pp,sleep.pp,bamboowait.pp

    - name: Create API key
      shell: powershell
      run: ./scripts/windows/create-apikey.ps1

    - name: Create API key for tests
      shell: powershell
      run: '& "C:\Program Files\Puppet Labs\Puppet\bin\puppet.bat" apply puppet\windows\octopus-api-key.pp --disable_warnings=deprecations'

    - name: Create Bamboo Project
      shell: powershell
      run: ./scripts/windows/bamboo-create-project.ps1

    - name: Create the Octopus Environments
      shell: powershell
      run: ./scripts/windows/create-environments.ps1

    - name: Create the Octopus Azure Account
      shell: powershell
      run: ./scripts/windows/create-azureaccount.ps1

    - name: Create Dev Azure target
      shell: powershell
      run: ./scripts/windows/create-devazuretarget.ps1

    - name: Create Test Azure target
      shell: powershell
      run: ./scripts/windows/create-testazuretarget.ps1

    - name: Create Prod Azure target
      shell: powershell
      run: ./scripts/windows/create-prodazuretarget.ps1

    - name: Create Octopus Project
      shell: powershell
      run: ./scripts/windows/create-octopusaspnetproject.ps1

    - name: Open Random Quotes
      shell: powershell
      run: ./scripts/windows/open-devazurewebapp.ps1

    - name: Add a deployment step
      shell: powershell
      run: ./scripts/windows/bamboo-create-deployment.ps1

    - name: Add a lifecycle
      shell: powershell
      run: ./scripts/windows/create-lifecycle.ps1

    - name: Open Random Quotes
      shell: powershell
      run: ./scripts/windows/open-testazurewebapp.ps1

    - name: Add manual intervention
      shell: powershell
      run: ./scripts/windows/add-manualintervention.ps1

    - name: Add email notification
      shell: powershell
      run: ./scripts/windows/add-notification.ps1

    - name: Add users and team
      shell: powershell
      run: ./scripts/windows/create-usersandteams.ps1

    - name: View internal deployer dashboard
      shell: powershell
      run: ./scripts/windows/view-internaldeployerdashboard.ps1

    - name: View production deployer dashboard
      shell: powershell
      run: ./scripts/windows/view-productiondeployerdashboard.ps1

    - name: View audit logs
      shell: powershell
      run: ./scripts/windows/view-auditlogs.ps1

    - name: Process video
      #if: always()
      shell: powershell
      run: ./scripts/windows/process-video.ps1

    - name: Upload video
      #if: always()
      shell: powershell
      run: ./scripts/windows/upload-video.ps1

    - name: Replace Wistia Video
      shell: powershell
      run: ./scripts/windows/replace-wistia-video.ps1

    - name: Create badge
      shell: powershell
      run: ./scripts/windows/create-badge.ps1

    - name: Delete resource groups
      shell: powershell
      run: |
        ./delete-resource-group.ps1 $env:DEV_RES_GROUP
        ./delete-resource-group.ps1 $env:TEST_RES_GROUP
        ./delete-resource-group.ps1 $env:PROD_RES_GROUP